:root {
    --darkblue: #0C2D57;
    --lightblue: #6DA9E4;
    --darkorange: #FC6736;
    --lightorange: #FBF5E9;

}

* {
    font-family: "Poppins";

    p {
        font-size: 14px;


    }

    h1 {
        font-size: 40px;
        font-weight: 600;
    }

    h2 {
        font-size: 32px;
    }

    .tag-line {
        color: var(--darkblue);
    }

    .section-header {
        color: var(--darkorange);
    }
}

.my-btn {
    border-radius: 6px;
    border: none;
    padding: 6px 12px;
    color: #fff;
    background-color: var(--darkorange);
}

.hero-section {
    text-align: justify;
    background-color: var(--lightorange);
}

.About-section{
    text-align: justify;
}


.Services-section {
    text-align: center;
    background-color: #EFECEC;

    .services-card-container {
        background-color: #fff;
        border-radius: 10px;
        width: 100%;
        height: 280px;
    
    }
    
    .sec-icon {
        position: relative;
        display: inline-block;
        padding: 0;
        margin: 0 auto;
      }
      
      .sec-icon::before {
        content: "";
        position: absolute;
        height: 1px;
        left: -70px;
        margin-top: -5.5px;
        top: 60%;
        background: #333333;
        width: 50px;
      }
      
      .sec-icon::after {
        content: "";
        position: absolute;
        height: 1px;
        right: -70px;
        margin-top: -5.5px;
        top: 60%;
        background: #333;
        width: 50px;
      }
      
      span {
        color:var(--darkorange)
      }
      .col {
        padding: 0 1em 1em 1em;
        text-align: center;
      }
      
       .service-card {
        width: 100%;
        height: 100%;
        padding: 2em 1.5em;
        border-radius: 5px;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        transition: 0.5s;
        position: relative;
        z-index: 2;
        overflow: hidden;
        background: #fff;
      }
      
       .service-card::after {
        content: "";
        width: 100%;
        height: 100%;
        background: var(--darkorange);
        position: absolute;
        left: 0%;
        top: -98%;
        z-index: -2;
        transition: all 0.4s cubic-bezier(0.77, -0.04, 0, 0.99);
      }
      
       h3 {
        font-size: 20px;
        text-transform: capitalize;
        font-weight: 600;
        color: #1f194c;
        margin: 1em 0;
        z-index: 3;
      }
      
     p {
        color:var(--darkblue);
        /* font-size: 15px; */
        line-height: 1.6;
        letter-spacing: 0.03em;
        z-index: 3;
      }
      
      .icon-wrapper {
        background-color: #2c7bfe;
        position: relative;
        margin: auto;
        font-size: 30px;
        height: 2.5em;
        width: 2.5em;
        color: #ffffff;
        border-radius: 50%;
        display: grid;
        place-items: center;
        transition: 0.5s;
        z-index: 3;
      }
     .service-card:hover:after {
        top: 0%;
      }
      
      .service-card .icon-wrapper {
        background-color: #ffffff;
        color: var(--darkorange)
      }
      
       .service-card:hover .icon-wrapper {
        color: #0dcaf0;
      }
     .service-card:hover h3 {
        color: #ffffff;
      }
       .service-card:hover p {
        color: #f0f0f0;
      }
      
}


  

/* swiper-container {
    width: 100%;
    height: 100%;
    bac
}

swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */